[include]
path = ~/.gitconfig.local
[color]
ui = auto
[push]
default = current
autoSetupRemote = true
[credential]
helper = /usr/local/share/gcm-core/git-credential-manager
helper = osxkeychain
[pull]
default = current
	rebase = false
[credential "https://dev.azure.com"]
useHttpPath = true
